section.about 
  .container
    +blockBox("What we do","Story about us","Each person must have the ideal partner for themselves. For me, my ideal partner is a good heart, honesty, and respect parents, hardworking, and educated. Moreover, she is also a pretty and attractive woman.")
    .about-list
      +aboutItem({
        src: "../images/img-about1.png",
        title: "Super team",
        icon: "fa fa-users"
      })
      +aboutItem({
        src: "../images/img-about2.png",
        title: "Super team",
        icon: "fa fa-heart"
      })
      +aboutItem({
        src: "../images/img-about3.png",
        title: "Super team",
        icon: "fa fa-laptop-code"
      })
      
      
