footer.footer
  .container 
    .footer-top 
      .footer-column
        a(href="index.html").footer-heading.footer-heading--logo MoGo
        p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quis placeat ullam repudiandae! Distinctio laudantium magni dolores delectus nostrum quis, tempore saepe! Temporibus at mollitia id nesciunt eligendi quia ullam?
        p.footer-follower <strong>15k</strong> followers
        .footer-social 
          span.text Follow Us:
          .footer-social-list
            a.footer-social-icon(href="#")
              i.fab.fa-facebook
            a.footer-social-icon(href="#")
              i.fab.fa-instagram
            a.footer-social-icon(href="#")
              i.fab.fa-twitter
            a.footer-social-icon(href="#")
              i.fab.fa-github
            a.footer-social-icon(href="#")
              i.fab.fa-youtube
            a.footer-social-icon(href="#")
              i.fab.fa-pinterest
        form.footer-form
          input(type="email", placeholder="Your email").footer-form-input
          button(disabled).footer-form-button Subscribe
      .footer-column
        h3.footer-heading Blogs
        a(href="#").footer-blog
          img.footer-blog-image(src="./images/img-blogs1.png")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9,2016
        a(href="#").footer-blog
          img.footer-blog-image(src="./images/img-blogs2.png")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9,2016
        a(href="#").footer-blog
          img.footer-blog-image(src="./images/img-blogs3.png")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9,2016
      .footer-column
        h3.footer-heading INSTAGRAM
        .footer-images 
          .footer-image
            img(src="https://images.unsplash.com/photo-1555960840-f536ae1e4e95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80", alt="")
          .footer-image
            img(src="https://images.unsplash.com/photo-1509395731449-4f6efe781cf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80", alt="")
          .footer-image
            img(src="https://images.unsplash.com/photo-1557221377-2850b7fc2599?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80", alt="")
          .footer-image
            img(src="https://images.unsplash.com/photo-1604074131665-7a4b13870ab4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80", alt="")
          .footer-image
            img(src="https://images.unsplash.com/photo-1566888596782-c7f41cc184c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80", alt="")
          .footer-image
            img(src="https://images.unsplash.com/photo-1660218264783-0404dac6cd7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=80", alt="")
          .footer-image
            img(src="https://images.unsplash.com/photo-1617785899222-fe06b15b6dd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80", alt="")
          .footer-image
            img(src="https://images.unsplash.com/photo-1555960840-f536ae1e4e95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80", alt="")
          .footer-image
            img(src="https://images.unsplash.com/photo-1661961111247-e218f67d1cd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80", alt="")
        a(href="#").footer-iamge-more.text.text--light View more photos
    .footer-bottom &copy; 2022 MoGo free PSD template by <span>Laaqiq</span>
      