section.number 
  .container
    .number-list 
      .number-item 
        h4.number-item-count 01
        span.number-item-text Web design project
      .number-item 
        h4.number-item-count 08
        span.number-item-text CLIENTS
      .number-item 
        h4.number-item-count 20
        span.number-item-text AWARD WINNER
      .number-item 
        h4.number-item-count 88
        span.number-item-text CUP OF COFFEE
      .number-item 
        h4.number-item-count 14
        span.number-item-text MEMBERS
