section.service 
  .container 
    +blockBox("We work with","Amazing Service")
    .service-container
      .service-list
        +serviceItem("../images/img-service-icon1.png","Photography ","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio")
        +serviceItem("../images/img-service-icon2.png","WEB DESIGN","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio")
        +serviceItem("../images/img-service-icon3.png","CREATIVITY","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio")
        
      .service-list
        +serviceItem("../images/img-service-icon4.png","SEO","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio") 
        +serviceItem("../images/img-service-icon5.png","CSS/HTML","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio") 
        +serviceItem("../images/img-service-icon6.png","DIGITAL","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio") 
        