section.team 
  .container 
    +blockBox("Who we are","MEET OUR TEAM","Use work steps if you need to negotiate the content or simplify work between many people in a team.Teamwork on post creation is organized with the use of stages/steps for making publications. Assign employees responsible for each stage and set up relationships between them.")
    .team-list 
      +teamItem("./images/img-team1.png","Su Leng","Fresher Developer")
        +teamSocial("#suleng1")
      +teamItem("./images/img-team2.png","Cristiano","Branding UX/design")
        +teamSocial("#suleng2")
      +teamItem("./images/img-team3.png","MICHAEL FERTIG"," Graphic Design")
        +teamSocial("#suleng3")
section.brand 
  .container 
    img(src="./images/img-logos.png", alt="")
