section.quote
  .container 
    .quote-container
      +quoteItem("https://scontent.fhan2-1.fna.fbcdn.net/v/t1.6435-9/91525534_906430169788545_2552843198267392000_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=O4yZjZ9YMiwAX8wrRTm&_nc_oc=AQkCa1iceHtxKxry_RflOD4wpeWo8A_jamWYLN02WmCFA2ITp-KHx04IZGAVoFP6rmTeh_oKF_zTPoWT4CaBHStK&_nc_ht=scontent.fhan2-1.fna&oh=00_AT-0tilTbItHP-RStZw2VZVUiffIe7uqktpkp3_jb2_8vA&oe=635E9978",true,desc,"Su Leng")
      +quoteItem("https://scontent.fhan2-5.fna.fbcdn.net/v/t1.6435-9/112872976_992377887860439_4493305382756329356_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=vt8jAHEJz64AX9bae3W&_nc_ht=scontent.fhan2-5.fna&oh=00_AT8Mojxn9yTUM8zGBz6Csf9XP9QQgOHIVxFhAsiOI7kjPw&oe=635E9514",true,desc,"David Lasy")
      +quoteItem("https://scontent.fhan2-5.fna.fbcdn.net/v/t1.18169-9/29542484_434981003600133_4844209742592742068_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=mMWpwcV98gAAX9dPngj&_nc_ht=scontent.fhan2-5.fna&oh=00_AT_V7aX1jlbCH2XvXQ1DCPVjHuUQKXx9jYoW5vcI0VLPKA&oe=6361104D",true,desc,"Adam Janujay")


      