section.work
  .container 
    +blockBox("What we do","SOME OF OUR WORK","Most of my friends like to stay inside to play video games, read books or watch TV, but I have a good hobby of going outside and playing sports. I play many different sports in my free time; some of them are soccer, swimming, volleyball and basketball")
  .work-list
    .work-column
      +workItem()
      +workItem("./images/img-work2.png","fab fa-apple")
    .work-column
      +workItem("./images/img-work3.png","fab fa-github")
      +workItem("./images/img-work4.png","fa fa-laptop")
    .work-column
      +workItem("./images/img-work5.png","fa fa-heart","Super Heart","work-item--full")  
    .work-column
      +workItem("./images/img-work6.png","fab fa-github")
      +workItem("./images/img-work7.png","fa fa-heart")  